@using SMEcommerce.Models.EntityModels
@Model List<Category>
@{ 
    //List<Category> categoryList = ViewBag.CategoryList;
    //or
    //List<Category> categoryList = ViewData["CategoryList"] as List<Category>;
    int serialNo = 0;
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Category List</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th style="width: 40px">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@(++serialNo)</td>
                        <td>@category.Name</td>
                        <td>
                            @category.Code
                        </td>
                        <td><span class="badge bg-danger">55%</span></td>
                    </tr>

                }


            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
        </ul>
    </div>
</div>